* {
  box-sizing: border-box;
}

:root {
  --main-color: ;
  --second-color: ;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(16px, 1.5vw, 24px);
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  
}

.global-padding {
  padding-left: 5vw;
  padding-right: 5vw;

}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-grow{
  flex-grow: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

h1 {
  font-size: 3rem;
  position: absolute;
  color: #fff;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 0.8rem;
}

header{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(10px) brightness(2);
  transition: transform 0.5s;
  transition-delay: 0.2s;
  transition: height 1s ease-in-out;
}

.hidden{
  transform: translateY(-100%);
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mini{
  height: 3rem;
}

.mini .logo img{
  height: 1.5rem;
}

.mini #contact img{
  height: 1.5rem;
}

.center-nav {
  display: flex;
  gap: 1.5rem;
}

.logo img {
  height: 3rem;
  width: auto;
}

nav a {
  color: #000;
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  position: relative;
}

.icon {
  height: 2rem;
  width: auto;
}

#contact a{
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

#contact:hover img {
  filter: brightness(1.5);
}


.underline{
  height: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: calc(50% - 1rem);
  left: 0;
  pointer-events: none;
}

nav path {
  stroke-dasharray: 400;
  stroke-dashoffset: 800;
  opacity: 0;
  transition: opacity 1.5s;
}
nav a:hover path {

  stroke: black;
  animation: dash 3s ease-in;
  opacity: 1;
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#burger {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.icon-burger {
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0.96rem;
  position: relative;
}

.line {
  height: 0.5px;
  background-color: #000;
  width: 100%;
  transition: all 0.3s linear;
}

#vertical-line {
  height: calc(100% + 0.5rem);
  width: 0.5px;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
}

section:nth-child(odd){
  background-color: #f00;
}

section{
  min-height: 100vh;
}

#surf{
  align-items: center;
}

.hero{
  overflow: hidden;
  display: flex;
  position: relative;
  height: 100vh;
  text-align: center;
}

.container-img{
  width: 100%;
  position: absolute;
  background-color: aqua;
  height: 100%;
  top: 0;
}

picture{
  width: 100%;
  height: 100%;
}

picture img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#rent{
  background-color: green;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

#lessons{
  background-color: aqua;
}

.rent-lessons > div{
  text-align: center;
}

ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li{
  font-size: 1.3rem;
  line-height: 2;
  text-align: left;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.surf-titre::before{
  content: "🏄";
  transform: translateY(-9%);
}

.body-titre::before{
  content: url(icon/icons8-bodyboard-32.png);
  transform: translateY(8%);
}

#information{
  flex-direction: column;
  display: flex;
  text-align: center;
}

.titre-info{
  width: 100%;
  height: 25%;
  background-color: violet;
  justify-content: center;
}

.container-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-info > div{
  width: 100%;
}

.map{
  background-color: green;
}

.schedule{
  background-color: aqua;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  width: 100%;
  height: 100vh;
  gap: 0.3rem;
}

.bloc-img{
  width: 100%;
  height: 100%;
  border: 0.3rem #000 solid;
}


@media screen and (max-width: 700px) {

  #contact .txt {
    display: none;
  }
  #contact .icon {
    display: block;
  }
}


@media screen and (max-width: 540px) {
  #burger {
    display: block;
  }

  .center-nav {
    display: none;
  }

  .center-nav a {
    font-size: 1.5rem;
  }

  .openNav .center-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: var(--navHeight);
    position: absolute;
    justify-content: center;
    background-color: var(--bgc-color);
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .openNav #vertical-line {
    opacity: 1;
  }

  .openNav .extrem-line {
    opacity: 0;
  }


  .openNav .icon-burger {
    transform: rotate(45deg);
    transition: all 0.4s linear;
  }

}